# Entorno virtual de Python
.venv/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo

# Variables privadas
.env

# Configuración local de VS Code
.vscode/

# Base de datos local
perfumes.db

# Backups locales de la base de datos
perfumes_backup_*.db

# Imágenes cargadas por usuarios
uploads/
