<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Mi colección de perfumes</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', path='/css/styles.css') }}"
    >
</head>

<body>

    <header class="encabezado">
        <div class="contenedor encabezado-contenido">
            <div>
                <h1>Mi colección</h1>

                <p>
                    Perfumes registrados: {{ perfumes | length }}
                </p>
            </div>

            <a
                class="boton boton-agregar"
                href="/agregar"
            >
                Agregar perfume
            </a>
        </div>
    </header>

    <main class="contenedor">
        <section
            class="coleccion"
            aria-label="Colección de perfumes"
        >
            {% for perfume in perfumes %}

                <article class="tarjeta-perfume">
                    <div class ="imagen-perfume">
                        {% if perfume.imagen %}
                            <img 
                                class = "foto-perfume"
                                src = "/uploads/perfumes/{{ perfume.imagen }}"
                                alt = "Frasco de {{ perfume.marca }} {{ perfume.nombre }}"
                            >
                            {% else %}
                                <span>Sin imagen</span>
                            {% endif %}
                    </div>

                    <div class="informacion-perfume">
                        <p class="marca">
                            {{ perfume.marca }}
                        </p>

                        <h2>
                            {{ perfume.nombre }}
                        </h2>

                        <p>
                            {{ perfume.concentracion }}
                        </p>

                        <p>
                            {{ perfume.tamano_ml }} ml
                        </p>
                        
                        {% if perfume.fragrantica_url %}
                            <a
                                class="boton"
                                href="{{ perfume.fragrantica_url }}"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                Ver en Fragrantica
                            </a>
                        {% endif %}
                    </div>
                </article>

            {% endfor %}
        </section>
    </main>

</body>
</html>